/* BASE */
html, body {margin:0; padding:0; font-family:Verdana, Geneva, Tahoma, sans-serif; background-color:#f4f6f9; color:#2c3e50;}
h1, h2, h3, h4 {margin:0; font-weight:600;}
p {line-height:1.6; color:#34495e;}

/* HEADER */
header {background:#2a9d8f; color:white; padding:50px 20px; text-align:center;}
header h1 {font-size:2.5em; margin-bottom:10px;}
header p {max-width:800px; margin:0 auto; font-size:1em; opacity:0.9;}
.team { opacity:0.9;color: white; text-align: center;}

/* intro */
.intro {text-align:center; padding:50px 20px; background:#eaf2f3;}
.intro h2 {font-size:2em; margin-bottom:15px; color:#264653;}
.intro p {max-width:700px; margin:0 auto 20px auto; font-size:1em;}
.intro img {width:100%; max-width:800px; border-radius:10px;}

/* contextS */
.context {display:flex; align-items:center;  gap:40px; padding:20px 50px; background:#ffffff;}
.context-text {flex:1;}
.context-text p {font-size:1.25em; line-height:1.8; color:#e76f51; font-weight:500; max-width:650px;font-weight:600}
.context-image {flex:1; text-align:center;}
.context-image img {max-width:70%; height:auto; border-radius:10px;}

/* MAP CARDS */
.maps-overview {display:flex; flex-wrap:wrap; justify-content:center; gap:20px; padding:50px 20px; background:#f4f6f9;}
.map-card {flex:1 1 320px; background:#ffffff; border-radius:10px; padding:20px; text-align:center; box-shadow:0 2px 10px rgba(0,0,0,0.05);}
.map-card h3 {margin-bottom:10px;}
.map-card p {margin-bottom:15px;}

/* REGIONS */
.regions {display:flex; flex-wrap:wrap; justify-content:center; gap:20px; padding:50px 20px; background:#ffffff;}
.region {flex:1 1 250px; text-align:center; padding:20px; border-radius:10px; box-shadow:0 2px 10px rgba(0,0,0,0.05);}
.region h4 {margin-bottom:10px; color:#e76f51;}

/* STATS */
.stats {display:flex; flex-wrap:wrap; justify-content:center; gap:20px; padding:50px 20px; background:#f4f6f9;}
.stat {flex:1 1 150px; text-align:center;}
.stat span {display:block; font-size:2em; color:#21867a; margin-bottom:8px; font-weight:900;}

/* FINAL */
.final {text-align:center; padding:40px 20px; background:#e76f51; color:white; border-radius:10px;}
.final h3 {margin-bottom:15px;}
.final .btn {background:white; color:#e76f51; padding:10px 20px; border-radius:8px; font-weight:600;}

/* BUTTONS & LINKS */
.btn {display:inline-block; padding:10px 20px; font-weight:600; text-decoration:none; text-align:center; color:white; background:#2a9d8f; border-radius:8px;}
.btn:hover {background-color:#e76f51; color:white; border-color:#e76f51;}

/* FOOTER */
footer {background:#264653; color:white; text-align:center; padding:25px 20px; font-size:0.95em;}
footer p {margin:0; opacity:0.9;color: white;}

/* RESPONSIVE */
@media (max-width:768px){.contexts, .maps-overview, .regions, .stats{flex-direction:column; align-items:center;}}
